@import '../../../../assets/css/_variables';
@import '../../../../assets/css/_forms';

.present-label {
  .af-form-label {
    padding: 0 20px;
  }
}

.present-checkbox.checkbox {
  margin: 0;
  height: 60px;
  display: table;
  padding: 0 20px;
  label {
    display: table-cell;
    vertical-align: middle;
    input[type="checkbox"] {
      margin-top: 2px;
    }
  }
}