<div class="row formlist">
  <div class="col-sm-12">
    
    <header>
      <h5 class="af-light af-heading-2">Skills</h5>
    </header>
    
    <form class="skills-form" [ngFormModel]="form" (ngSubmit)="saveOrUpdate(form.value)" novalidate>
      
      <header class="form-group">
        <div class="text-right action-bar">
          <a href *ngIf="mode === MODES.edit" (click)="setMode(MODES.view, $event)">Cancel</a>
          <a href (click)="onDelete(item, $event)">Delete</a>
          <a href *ngIf="mode !== MODES.edit" (click)="setMode(MODES.edit, $event)">Edit</a>
          <a href *ngIf="mode === MODES.edit" (click)="saveOrUpdate(form.value, $event)">Save</a>
        </div>
      </header>
      
      <div class="form-group">
        <select class="form-control" multiple="multiple" [ng2select2]="skills" [ng2select2options]="select2Options" #skills="ngForm" ngControl="skills" [disabled]="mode !== MODES.edit">
            <option *ngFor="#pSkill of SKILLS" [value]="pSkill.value" [selected]="profile.skills && profile.skills.indexOf(pSkill.value) >= 0">{{pSkill.label}}</option>
        </select>
      </div>
      
    </form>
    
  </div>
</div>