<modal [modal]="modal" (close)="onClose($event)" class="transparent-black-modal">
  <modal-body>
    
    <notification *ngIf="notifications.length" 
                  *ngFor="#notification of notifications | async" 
                  [notification]="notification">
    </notification>
    
    <div class="container jobpost">
      <div class="row">
        <div class="col-xs-12">
          
          <header>
            <h5 class="jobpost-heading">Your job post was submitted.</h5>
          </header>
          
          <div class="section">
            <h2 *ngIf="jobpost.title" class="jobpost-title">{{jobpost.title}}</h2>
            <h5 *ngIf="jobpost.organization" class="jobpost-heading">{{jobpost.organization}}</h5>
          </div>
          
          <footer class="section">
            <div class="row">
              <div class="col-xs-12">
                  <button class="af-btn btn-light af-heading-uppercased-1" (click)="onCancel($event)">
                    Close <!--<span class="af-icon icon-paypal af-icon-s"></span>-->
                  </button>
              </div>
            </div>
            <!--
            <div class="btn-alike">Share the post to your preferred social network</div>
            <div>
              <a href="">Facebook</a>
              <a href="">Twitter</a>
            </div>  
            -->
          </footer>
          
        </div>
      </div>
    </div>
    
  </modal-body>
</modal>
