@import '../../../../assets/css/_variables';
@import '../../../../assets/css/_forms';

.photos-and-videos-form {
    .video-js {
      width: auto;
      height: 100%;
      margin: 0 auto;
    }
}

.upload-form {
  text-align: center;
}